#container {
  width: 700px;
  margin: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

nav {
  overflow: auto;
  width: 100%;
}

#chat-container {
  border:2px blue solid;
  background-color: #f3f3f3;
}

#container header {
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: #fff;
}

#chat-box {
  background-color: #fff;
  height: 300px;
  padding: 20px;
  overflow: scroll;
}

.row {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px #f0f0f0 solid;
}

.row p {
  margin: 0px;
}

#form-box {
  padding: 20px;
}

#message_input {
  width: 500px;
  font-size: 14px;
}
