<div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by Brad on October 24 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut urna a nisi pretium egestas. Proin vel ultrices arcu. Aliquam erat volutpat. Aenean tristique quam tellus, egestas gravida sem fermentum eget. Proin sit amet velit eu ipsum vestibulum vulputate non ut ante. Sed laoreet est ac nisi malesuada, id cursus metus tristique.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by Brad on October 24 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut urna a nisi pretium egestas. Proin vel ultrices arcu. Aliquam erat volutpat. Aenean tristique quam tellus, egestas gravida sem fermentum eget. Proin sit amet velit eu ipsum vestibulum vulputate non ut ante. Sed laoreet est ac nisi malesuada, id cursus metus tristique.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by Brad on October 24 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut urna a nisi pretium egestas. Proin vel ultrices arcu. Aliquam erat volutpat. Aenean tristique quam tellus, egestas gravida sem fermentum eget. Proin sit amet velit eu ipsum vestibulum vulputate non ut ante. Sed laoreet est ac nisi malesuada, id cursus metus tristique.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post">
                  <img src="img/rails1.jpg">
                  <div class="post-content">
                    <h3>Lorem Ipsum</h3>
                    <small>Posted by Brad on October 24 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut urna a nisi pretium egestas. Proin vel ultrices arcu. Aliquam erat volutpat. Aenean tristique quam tellus, egestas gravida sem fermentum eget. Proin sit amet velit eu ipsum vestibulum vulputate non ut ante. Sed laoreet est ac nisi malesuada, id cursus metus tristique.</p>
                    <a class="btn btn-primary btn-block">Read More</a>
                  </div>
                </div>
              </div>
            </div>