<div class="well">
  <h2 class="page-header">Manage Posts <a href="new.html" class="btn btn-success">Add New</a></h2>
  <table class="table table-striped">
    <tr>
      <th>Post Title</th>
      <th>Post Category</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Post Number One</td>
      <td>News</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    <tr>
      <td>Post Number Two</td>
      <td>News</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    <tr>
      <td>Post Number Three</td>
      <td>News</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
  </table>
</div>