<form action="/" method="post">
  <p>First name: <input type="text" name="post[first_name]" size="20"/></p>
  <p>Last name: <input type="text" name="post[last_name]" size="20"/></p>
  <input type="submit" value="Say hi!">
</form>
