<div style="text-align: center;">
	<p>Nice to meet you, <%= @name %>.</p>
	<p>The time is now <%= Time.now.strftime("%I:%M %p") %>.</p>
	<p>We're using Sinatra version <%= Sinatra::VERSION %>.</p>
</div>
