<h1>Resources</h1>

<div class="container text-center">
    <div class="row">
        
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="resourcesGroup">
                <li class="resourcesCategory">Spay and Neuter Services</li><br/><br/>
                <li class="resourcesName">Humane Society of Putnam County (Cookeville, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#051;&#055;&#050;&#032;&#045;&#032;&#050;&#055;&#050;&#056;<br/><br/></li>  
                <li class="resourcesName">Copeland Veterinary Clinic (Cookeville, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#055;&#048;&#051;&#048;<br/><br/></li>     
                <li class="resourcesName">Ragland and Riley (Livingston, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#052;&#057;&#056;&#032;&#045;&#032;&#051;&#049;&#053;&#051;<br/><br/></li>
            </ul>
        </div>   
        
        <div class="col-md-3" id="resourcesGroup">
            <ul class="nav nav-pills nav-stacked">
                <li class="resourcesCategory">Local Veterinarians</li><br/><br/>
                <li class="resourcesName">Animal Medical Clinic</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#053;&#056;&#056;&#053;<br/><br/></li>
                <li class="resourcesName">Boyd Veterinary Clinic</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#053;&#054;&#048;&#052;<br/><br/></li>
                <li class="resourcesName">Copeland Veterinary Clinic</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#055;&#048;&#051;&#048;<br/><br/></li>
                <li class="resourcesName">Flatt Veterinary Clinic</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#054;&#052;&#050;&#049;<br/><br/></li>
                <li class="resourcesName">House Vet - Dr. Tyler Verble</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#050;&#054;&#055;&#032;&#045;&#032;&#050;&#050;&#057;&#056;<br/><br/></li>
            </ul>
        </div>
      
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="resourcesGroup">
                <li class="resourcesCategory">Local Animal Rescues</li><br/><br/>
                <li class="resourcesName">Shelly's Angels</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#050;&#054;&#056;&#032;&#045;&#032;&#056;&#049;&#053;&#057;<br/><br/></li>  
                <li class="resourcesName">A.A.R.F.</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#050;&#054;&#048;&#032;&#045;&#032;&#056;&#048;&#049;&#056;<br/><br/></li>
                <li class="resourcesName">Horse Rescue</li>
                <li class="resourcesPhone">Phone <br/><br/></li>
            </ul>
        </div>              
        
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="resourcesGroup">
                <li class="resourcesCategory">Animal Control</li><br/><br/>
                <li class="resourcesName">Putnam County</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#051;&#055;&#032;&#045;&#032;&#051;&#054;&#052;&#055;<br/><br/></li> 
                <li class="resourcesName">Cookeville</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#054;&#032;&#045;&#032;&#050;&#049;&#050;&#053;<br/><br/></li> 
                <li class="resourcesName">Algood</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#051;&#055;&#032;&#045;&#032;&#054;&#056;&#051;&#048;<br/><br/></li> 
                <li class="resourcesName">Baxter</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#056;&#053;&#056;&#032;&#045;&#032;&#052;&#049;&#049;&#049;<br/><br/></li> 
                <li class="resourcesName">Monterey</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#056;&#051;&#057;&#032;&#045;&#032;&#050;&#051;&#050;&#051;<br/><br/></li> 
                <li class="resourcesName">Sparta</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#056;&#051;&#054;&#032;&#045;&#032;&#054;&#052;&#055;&#054;<br/><br/></li> 
            </ul>
        </div>              
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="resourcesGroup">
                <li class="resourcesCategory">Other Animal Shelters</li><br/><br/>
                <li class="resourcesName">White County Animal Shelter</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#055;&#054;&#049;&#032;&#045;&#032;&#051;&#054;&#052;&#055;<br/><br/></li>        
            </ul>
        </div> 
        
        <div class="col-md-3" id="resourcesGroup">
            <ul class="nav nav-pills nav-stacked">
                <li class="resourcesCategory">Other Veterinarians</li> <br/><br/>
                <li class="resourcesName">White County Veterinary Clinic (Sparta, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#056;&#051;&#054;&#032;&#045;&#032;&#051;&#055;&#048;&#055;<br/><br/></li>
                <li class="resourcesName">Sparta Veterinary Services (Sparta, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#055;&#051;&#057;&#032;&#045;&#032;&#056;&#056;&#048;&#048;<br/><br/></li>
                <li class="resourcesName">Animal Clinic of Smithville (Smithville, TN)</li>
                <li class="resourcesPhone">(&#054;&#049;&#053;)&#032;&#053;&#057;&#055;&#032;&#045;&#032;&#049;&#055;&#050;&#054;<br/><br/></li>
                <li class="resourcesName">Dekalb Animal Clinic (Smithville, TN)</li>
                <li class="resourcesPhone">(&#054;&#049;&#053;)&#032;&#053;&#057;&#055;&#032;&#045;&#032;&#049;&#057;&#053;&#048;<br/><br/></li>
                <li class="resourcesName">Animal Wellness Center (Gordonsville, TN)</li>
                <li class="resourcesPhone">(&#054;&#049;&#053;)&#032;&#054;&#056;&#051;&#032;&#045;&#032;&#054;&#054;&#048;&#048;<br/><br/></li>
                <li class="resourcesName">Dogwood Animal Hospital (Jamestown, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#056;&#055;&#057;&#032;&#045;&#032;&#049;&#049;&#049;&#049;<br/><br/></li>
                <li class="resourcesName">Maxwell Veterinary Office (Pikeville, TN)</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#050;&#054;&#056;&#032;&#045;&#032;&#054;&#054;&#055;&#054;<br/><br/></li>
            </ul>
        </div>
        
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="resourcesGroup">
                <li class="resourcesCategory">Other Wildlife</li><br/><br/>
                <li class="resourcesName">Smith's Wild Animal Control</li>
                <li class="resourcesPhone">(&#057;&#051;&#049;)&#032;&#053;&#050;&#056;&#032;&#045;&#032;&#049;&#055;&#055;&#049;<br/><br/></li>  
                <li class="resourcesName">Waldens Puddle for Wildlife</li>
                <li class="resourcesPhone">(&#054;&#049;&#053;)&#032;&#050;&#057;&#057;&#032;&#045;&#032;&#057;&#057;&#051;&#056;<br/><br/></li>        
            </ul>
        </div> 
        
        
  </div>
