<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>The BookStore</li>
			<li>499 Massachusetts Ave, Unit 2</li>
			<li>Boston, MA 02110</li>
			<li>Phone: (617) 555-5555</li>
			<li>Email: support@thebookstore.com</li>
		</ul>
	</div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div class="list-group">
	  <a href="#" class="list-group-item">Ruby On Rails</a>
	  <a href="#" class="list-group-item">PHP</a>
	  <a href="#" class="list-group-item">HTML5</a>
	</div>
<% end %>